<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ZhongShanDrugStoreSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ZhongShanDrugStoreSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://183.60.189.46:8072/services/ZhongShanDrugStore.ZhongShanDrugStoreHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="ZhongShanDrugStoreSoap11Binding"
                contract="GetDrugStoreDtl.ZhongShanDrugStorePortType" name="ZhongShanDrugStoreHttpSoap11Endpoint" />
        </client>
    </system.serviceModel>
</configuration>