<?xml version="1.0" encoding="utf-8" ?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TypeMap>
    <MapKey/>
    <InterfaceName>XYHis.IService.INursing.INursingService</InterfaceName>
    <MapToType>XYHis.Services.Nursing.NursingService,XYHis.Services.Nursing</MapToType>
    <CreaterMethod></CreaterMethod>
    <LifeTimeCode>Transient</LifeTimeCode>
    <WebApiUrlList>
      <string>http://120.77.3.221:8097/Handler.api</string>

    </WebApiUrlList>
  </TypeMap>
</ArrayOfTypeMap>