<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.HuRmSystem.IHuRmBillHelper</InterfaceName>
     <MapToType>XYHis.Business.HuRmSystem.HuRmBillHelper,XYHis.Business.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.HuRmSystem.IHuDataBusiness</InterfaceName>
     <MapToType>XYHis.Business.HuRmSystem.HuDataBusiness,XYHis.Business.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.HuRmSystem.IRmDataBusiness</InterfaceName>
     <MapToType>XYHis.Business.HuRmSystem.RmDataBusiness,XYHis.Business.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.HuRmSystem.IHuRmStoreCheck</InterfaceName>
     <MapToType>XYHis.Business.HuRmSystem.HuRmStoreCheck,XYHis.Business.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.HuRmSystem.IDrugStockHelper</InterfaceName>
     <MapToType>XYHis.Business.HuRmSystem.DrugStockHelper,XYHis.Business.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
</ArrayOfTypeMap>