<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.HuRmSystem.IServicesHuRmCommon</InterfaceName>
     <MapToType>XYHis.Services.HuRmSystem.HuRmCommonServices,XYHis.Services.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
  
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.HuRmSystem.IHuRmBillQueryService</InterfaceName>
     <MapToType>XYHis.Services.HuRmSystem.HuRmBillQueryService,XYHis.Services.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.HuRmSystem.IOuDrugIssueService</InterfaceName>
     <MapToType>XYHis.Services.HuRmSystem.OuDrugIssueService,XYHis.Services.HuRmSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

</ArrayOfTypeMap>