<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.InSystem.IServicesInCommon</InterfaceName>
     <MapToType>XYHis.Services.InSystem.ServicesInCommon,XYHis.IServices.InSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
 


</ArrayOfTypeMap>