<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.Common.IRemoteCacheService</InterfaceName>
     <MapToType>XYHis.Services.Common.RemoteCacheService,XYHis.Services.Common</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>

 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.Common.IBaseControlService</InterfaceName>
     <MapToType>XYHis.Services.Common.BaseControlService,XYHis.Services.Common</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>

 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.Common.ICommonServices</InterfaceName>
     <MapToType>XYHis.Services.Common.CommonService,XYHis.Services.Common</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>
  <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.Common.IKeyLockSettingServices</InterfaceName>
     <MapToType>XYHis.Services.Common.KeyLockSettingService,XYHis.Services.Common</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>
<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.Common.IRemoteTrainService</InterfaceName>
     <MapToType>XYHis.Services.Common.RemoteTrainService,XYHis.Services.Common</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>


</ArrayOfTypeMap>