<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.GblSystem.IGblXdRpBusiness</InterfaceName>
     <MapToType>XYHis.Business.GblSystem.GblXdRpBusiness,XYHis.Business.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.GblSystem.IGblSetEmialBusiness</InterfaceName>
     <MapToType>XYHis.Business.GblSystem.GblSetEmialBusiness,XYHis.Business.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.GblSystem.IGblChargeBusiness</InterfaceName>
     <MapToType>XYHis.Business.GblSystem.GblChargeBusiness,XYHis.Business.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
 

 


</ArrayOfTypeMap>