<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IService.IReferral.IReferralService</InterfaceName>
     <MapToType>XYHis.Service.Referral.ReferralService,XYHis.Service.Referral</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://120.77.3.221:8088/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

  
</ArrayOfTypeMap>