<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.OuSystem.IServicesOuPatient</InterfaceName>
     <MapToType>XYHis.Services.OuSystem.OuPatientService,XYHis.Services.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>

 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.OuSystem.IOuChargeService</InterfaceName>
     <MapToType>XYHis.Services.OuSystem.OuChargeService,XYHis.Services.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
    <WebApiUrlList>
      <string>http://127.0.0.1:9999/Handler.api</string>
     </WebApiUrlList>
  </TypeMap>

  <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.BP.IBPService</InterfaceName>
     <MapToType>XYHis.Services.BP.BPService,XYHis.Services.BP</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
    <WebApiUrlList>
      <string>http://127.0.0.1:9999/Handler.api</string>
     </WebApiUrlList>
  </TypeMap>

  <TypeMap>
    <MapKey></MapKey>
    <InterfaceName>XYHis.IServices.HomeHealth.IServicesHomeHealth</InterfaceName>
    <MapToType>XYHis.Services.HomeHealth.HomeHealthService,XYHis.Services.HomeHealth</MapToType>
    <CreaterMethod></CreaterMethod>
    <LifeTimeCode>Transient</LifeTimeCode>
    <WebApiUrlList>
      <string>http://127.0.0.1:9999/Handler.api</string>
    </WebApiUrlList>
  </TypeMap>


  <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.OuSystem.IOuClinicDiagnosisService</InterfaceName>
     <MapToType>XYHis.Services.OuSystem.OuClinicDiagnosisService,XYHis.Services.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList> 
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.OuSystem.IOuClinicDiagnosisService</InterfaceName>
     <MapToType>XYHis.Services.OuSystem.OuClinicDiagnosisService,XYHis.Services.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                <string>http://127.0.0.1:9999/Handler.api</string>
		
		</WebApiUrlList>
  </TypeMap>

</ArrayOfTypeMap>