<?xml version="1.0"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IDataPersist</InterfaceName>
		<MapToType>Orm.PersistManeger,Orm</MapToType>
		<CreaterMethod>GetDataPersist</CreaterMethod>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IDBClientBase</InterfaceName>
		<MapToType>XYHis.Framework.Services.DBClientBase,XYHis.Framework.Services</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                         <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.SharedMemory.ICacheClient</InterfaceName>
		<MapToType>XYHis.SharedMemoryCache.CacheClient,XYHis.SharedMemoryCache</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://127.0.0.1:9999/Handler.api</string>	
                 
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IEmitService</InterfaceName>
		<MapToType>XYHis.EmitService.EmitService,XYHis.EmitService</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.ICodeService</InterfaceName>
		<MapToType>XYHis.BillCodeService.NumService,XYHis.BillCodeService</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.ICache</InterfaceName>
		<MapToType>Cache.CachedProxy,Cache</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.ICommonQuery</InterfaceName>
		<MapToType>CommonQuery.CommonQueryFactory,CommonQuery</MapToType>
		<CreaterMethod>GetInstance</CreaterMethod>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.ILogger</InterfaceName>
		<MapToType>Logger.Logger,Logger</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IJsonSerializer</InterfaceName>
		<MapToType>JsonSerializerProxy.Serializer,JsonSerializerProxy</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Singleton</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IConfiger</InterfaceName>
		<MapToType>Config.Configer,Config</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IZip</InterfaceName>
		<MapToType> ICSharpCode.SharpZipLib.ZipHandle,ICSharpCode.SharpZipLib</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Singleton</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IAuthenticator</InterfaceName>
		<MapToType>SCB.Scheduling.Controllers.DefaultAuthenticator,SCB.Scheduling.Controllers</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IRemoteProxyManager</InterfaceName>
		<MapToType>WebBridgeEndpoint.ProxyManager,WebBridgeEndpoint</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Singleton</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>WebBridgeContract.IEventOC</InterfaceName>
		<MapToType>WebBridgeEndpoint.RemoteEventOperation,WebBridgeEndpoint</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Singleton</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IRemoteEventCaster</InterfaceName>
		<MapToType>WebBridgeEndpoint.ProxyManager,WebBridgeEndpoint</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Singleton</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
	<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.IDBServiceBase</InterfaceName>
		<MapToType>XYHis.Framework.Services.DBServiceBase,XYHis.Framework.Services</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Singleton</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
<TypeMap>
		<MapKey/>
		<InterfaceName>XYHis.Framework.Services.SharedMemory.ICacheServer</InterfaceName>
		<MapToType>XYHis.SharedMemoryCache.CacheServer,XYHis.SharedMemoryCache</MapToType>
		<CreaterMethod/>
		<LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
                        <string>http://127.0.0.1:9999/Handler.api</string>
			
		</WebApiUrlList>
	</TypeMap>
</ArrayOfTypeMap>
