<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.GblSystem.IGetSystemSetting</InterfaceName>
     <MapToType>XYHis.Services.GblSystem.GetSystemSetting,XYHis.Services.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.GblSystem.IDataAnalysis</InterfaceName>
     <MapToType>XYHis.Services.GblSystem.DataAnalysis,XYHis.Services.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.GblSystem.ISystemMaintenance</InterfaceName>
     <MapToType>XYHis.Services.GblSystem.SystemMaintenance,XYHis.Services.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.GblSystem.IAssistFunction</InterfaceName>
     <MapToType>XYHis.Services.GblSystem.AssistFunction,XYHis.Services.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>

 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IServices.GblSystem.IBackupRestoreService</InterfaceName>
     <MapToType>XYHis.Services.GblSystem.BackupRestore,XYHis.Services.GblSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://192.168.0.228:889/Handler.api</string>
		</WebApiUrlList>
  </TypeMap>
  
</ArrayOfTypeMap>