<?xml version="1.0"?>
<ArrayOfTypeMap xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
 <TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.OuSystem.IOuClinicDiagnosisBusiness</InterfaceName>
     <MapToType>XYHis.Business.OuSystem.OuClinicDiagnosisBusiness,XYHis.Business.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://127.0.0.1:9999/Handler.api</string> 
		</WebApiUrlList>
  </TypeMap>

<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.OuSystem.IOuPatientBusiness</InterfaceName>
     <MapToType>XYHis.Business.OuSystem.OuPatientBusiness,XYHis.Business.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://127.0.0.1:9999/Handler.api</string> 
		</WebApiUrlList>
  </TypeMap>
<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.OuSystem.IOuExecuteBusiness</InterfaceName>
     <MapToType>XYHis.Business.OuSystem.OuExecuteBusiness,XYHis.Business.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://127.0.0.1:9999/Handler.api</string> 
		</WebApiUrlList>
  </TypeMap>

<TypeMap>
     <MapKey></MapKey>
     <InterfaceName>XYHis.IBusiness.OuSystem.IOuScheduleBusiness</InterfaceName>
     <MapToType>XYHis.Business.OuSystem.OuScheduleBusiness,XYHis.Business.OuSystem</MapToType>
	   <CreaterMethod></CreaterMethod>
     <LifeTimeCode>Transient</LifeTimeCode>
		<WebApiUrlList>
		<string>http://127.0.0.1:9999/Handler.api</string> 
		</WebApiUrlList>
  </TypeMap>

</ArrayOfTypeMap>