<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="XYHis.ServiceStackRedisHelper.RedisConfigInfo, XYHis.ServiceStackRedisHelper"/>
  </configSections>
  <!--redis数据库连接字符串,本机用127,如果是在服务端执行则一定要改成服务器的IP地址，如119.23.145.244-->
  <!--<RedisConfig WriteServerList="119.23.145.244:6379" ReadServerList="119.23.145.244:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">-->
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>
  <appSettings>
    <add key="licenseNumber" value=""/>
    <add key="sqlServerConnectionString" value=""/>
    <!--这里没有User Id,因为这个值从界面的数据库枚举下拉框中获取-->
    <add key="Data Source" value="119.23.145.222/orcl"/>
    <add key="Password" value="asd2828"/>
    <add key="Redis.DefaultKey" value=""/>
    <add key="companyName" value=""/>
    <add key="solutionName" value=""/>
    <add key="author" value=""/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ESFramework" publicKeyToken="ba1538489f75683e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
