<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--缓存从本地redis读取-->
    <add name="RedisReadConnection" connectionString="10.35.1.199:6375,password=asd2828,keepAlive=180,syncTimeout=100000,allowAdmin=True,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING="/>
    <!--redis写操作，用与同步DB-->
    <add name="RedisWriteConnection" connectionString="120.77.3.221:6375,password=Xyhis@#Xyhis,keepAlive=180,syncTimeout=100000,allowAdmin=True,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING="/>
  </connectionStrings>
  <appSettings>
    <add key="Data Source" value="120.24.239.81/orcl" />
    <add key="Password" value="asd2828" />
    <add key="Redis.DefaultKey" value="XXHISYYLT" />
    <add key="XYHis.RabbitMQ.HostName" value="120.77.3.221" />
    <add key="XYHis.RabbitMQ.UserName" value="xyhis.yun" />
    <add key="XYHis.RabbitMQ.Password" value="yun.xyhis.com" />
    <add key="XYHis.RabbitMQ.ExchangeName" value="xyhis_exchange" />
    <add key="XYHis.RabbitMQ.Routingkey" value="XXHISYYLT" />
    <add key="XYHis.FrameWork.Debug" value="true" />
    <add key="XYHis.FrameWork.Client" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FRAMEWORK_DB_KEY" value="XYHis.Framework.ConfigDB" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="XYHis.Framework.AppLogEnabled" value="true" />
  </appSettings>
</configuration>